html,
body,
div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'Avenir Next W01';
  src: url('https://static.contentful.com/app/avenir-regular-normal-457e94a5b6.woff2')
    format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next W01';
  src: url('https://static.contentful.com/app/avenir-medium-normal-24932ad03d.woff2')
    format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next W01';
  src: url('https://static.contentful.com/app/avenir-demibold-normal-d42bfc911f.woff2')
    format('woff2');
  font-weight: 700;
  font-style: normal;
}

#root {
  margin-top: 5px;
}

.radio {
  font-size:  14px;
  display: flex;
  align-items: center;
}

.description {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}

[type='radio'] {
  margin-right: 6px;
}

.swatch {
  height: 1em;
  width: 1em;
  display: inline-block;
  border: 1px solid #d3dce0;
  box-shadow: inset 0 0 0 1px white ;
  margin-left: .5em;
}

.clear {
  margin-left: 1.5em;
}